xml/src/main/resources/xsd/digitalInstanceImport.xsd.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2011, 2012 Martin Řehánek

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<!--
    Document   : digitalInstanceImport.xsd.xml
    Created on : 22. únor 2012, 11:59
    Author     : Martin Řehánek
    Description:
        This XML Schema (W3C) document validates digital instances
        that are imported into application urnnbn-resolver-v2 
        through its http rest api.
        http://code.google.com/p/urnnbn-resolver-v2/
        http://code.google.com/p/urnnbn-resolver-v2/wiki/API
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
elementFormDefault="qualified" 
targetNamespace="http://resolver.nkp.cz/v2/" 
xmlns:r="http://resolver.nkp.cz/v2/"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://www.w3.org/2001/XMLSchema http://www.w3.org/2001/XMLSchema.xsd">
    <xs:element name="digitalInstance">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="url" type="r:urlType" minOccurs="1" maxOccurs="1"/>
                <xs:element name="digitalLibraryId" type="xs:integer" minOccurs="1" maxOccurs="1"/>
                <xs:element name="format" type="r:instanceFormatType" minOccurs="0" maxOccurs="1"/>
                <xs:element name="accessibility" type="r:accessibilityType" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- url -->
    <xs:simpleType name="urlType">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="200"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- format -->
    <xs:simpleType name="instanceFormatType">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- accessibility -->
    <xs:simpleType name="accessibilityType">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
