xml/src/main/resources/xsd/recordImport.xsd.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2011, 2012 Martin Řehánek

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<!--
    Document   : recordImport.xsd.xml
    Created on : 22. únor 2012, 11:59
    Author     : Martin Řehánek
    Description:
        This XML Schema (W3C) document validates records
        that are imported into application urnnbn-resolver-v2 
        through its http rest api.
        http://code.google.com/p/urnnbn-resolver-v2/
        http://code.google.com/p/urnnbn-resolver-v2/wiki/API
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
elementFormDefault="qualified" 
targetNamespace="http://resolver.nkp.cz/v2/" 
xmlns:r="http://resolver.nkp.cz/v2/"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://www.w3.org/2001/XMLSchema http://www.w3.org/2001/XMLSchema.xsd">
<!--    <xs:include schemaLocation="/home/martin/NetBeansProjects/xml/src/main/resources/xsd/identifiers.xsd.xml"/>-->
    <xs:include schemaLocation="identifiers.xsd.xml"/>
    <xs:element name="import">
        <xs:complexType>
            <xs:sequence>
                <xs:choice>
                    <xs:element ref="r:monograph"/>
                    <xs:element ref="r:monographVolume"/>
                    <xs:element ref="r:periodical" />
                    <xs:element ref="r:periodicalVolume"/>
                    <xs:element ref="r:periodicalIssue"/>
                    <xs:element ref="r:analytical"/>
                    <xs:element ref="r:thesis"/>
                    <xs:element ref="r:otherEntity"/>
                </xs:choice>
                <xs:element ref="r:digitalDocument" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="monograph">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="titleInfo" minOccurs="1" maxOccurs="1">
                    <xs:complexType > 
                        <xs:sequence>
                            <xs:element name="title" type="r:titleType" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="subTitle" type="r:subTitleType" minOccurs="0" maxOccurs="1"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="ccnb" type="r:ccnbType" minOccurs="0" maxOccurs="1"/>
                <xs:element name="isbn" type="r:isbnType" minOccurs="0" maxOccurs="1"/>
                <xs:element name="otherId" type="r:otherIdType" minOccurs="0" maxOccurs="1"/>
                <xs:element name="documentType" type="r:documentTypeType" minOccurs="0" maxOccurs="1"/>
                <xs:element name="digitalBorn" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="r:primaryOriginator" minOccurs="0" maxOccurs="1"/>
                <xs:element name="otherOriginator" type="r:otherOriginatorType" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="r:publication" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="monographVolume">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="titleInfo" minOccurs="1" maxOccurs="1">
                    <xs:complexType > 
                        <xs:sequence>
                            <xs:element name="monographTitle" type="r:titleType" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="volumeTitle" type="r:volumeTitleType" minOccurs="1" maxOccurs="1"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="ccnb" type="r:ccnbType" minOccurs="0" maxOccurs="1"/>
                <xs:element name="isbn" type="r:isbnType" minOccurs="0" maxOccurs="1"/>
                <xs:element name="otherId" type="r:otherIdType" minOccurs="0" maxOccurs="1"/>
                <xs:element name="documentType" type="r:documentTypeType" minOccurs="0" maxOccurs="1"/>
                <xs:element name="digitalBorn" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="r:primaryOriginator" minOccurs="0" maxOccurs="1"/>
                <xs:element name="otherOriginator" type="r:otherOriginatorType" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="r:publication" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="periodical">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="titleInfo" minOccurs="1" maxOccurs="1">
                    <xs:complexType > 
                        <xs:sequence>
                            <xs:element name="title" type="r:titleType" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="subTitle" type="r:subTitleType" minOccurs="0" maxOccurs="1"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="ccnb" type="r:ccnbType" minOccurs="0" maxOccurs="1"/>
                <xs:element name="issn" type="r:issnType" minOccurs="0" maxOccurs="1"/>
                <xs:element name="otherId" type="r:otherIdType" minOccurs="0" maxOccurs="1"/>
                <xs:element name="documentType" type="r:documentTypeType" minOccurs="0" maxOccurs="1"/>
                <xs:element name="digitalBorn" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="r:primaryOriginator" minOccurs="0" maxOccurs="1"/>
                <xs:element name="otherOriginator" type="r:otherOriginatorType" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="r:publication" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="periodicalVolume">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="titleInfo" minOccurs="1" maxOccurs="1">
                    <xs:complexType > 
                        <xs:sequence>
                            <xs:element name="periodicalTitle" type="r:titleType" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="volumeTitle" type="r:volumeTitleType" minOccurs="1" maxOccurs="1"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="ccnb" type="r:ccnbType" minOccurs="0" maxOccurs="1"/>
                <xs:element name="issn" type="r:issnType" minOccurs="0" maxOccurs="1"/>
                <xs:element name="otherId" type="r:otherIdType" minOccurs="0" maxOccurs="1"/>
                <xs:element name="documentType" type="r:documentTypeType" minOccurs="0" maxOccurs="1"/>
                <xs:element name="digitalBorn" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="r:primaryOriginator" minOccurs="0" maxOccurs="1"/>
                <xs:element name="otherOriginator" type="r:otherOriginatorType" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="r:publication" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="periodicalIssue">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="titleInfo" minOccurs="1" maxOccurs="1">
                    <xs:complexType > 
                        <xs:sequence>
                            <xs:element name="periodicalTitle" type="r:titleType" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="volumeTitle" type="r:volumeTitleType" minOccurs="0" maxOccurs="1"/>
                            <xs:element name="issueTitle" type="r:issueTitleType" minOccurs="1" maxOccurs="1"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="ccnb" type="r:ccnbType" minOccurs="0" maxOccurs="1"/>
                <xs:element name="issn" type="r:issnType" minOccurs="0" maxOccurs="1"/>
                <xs:element name="otherId" type="r:otherIdType" minOccurs="0" maxOccurs="1"/>
                <xs:element name="documentType" type="r:documentTypeType" minOccurs="0" maxOccurs="1"/>
                <xs:element name="digitalBorn" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="r:primaryOriginator" minOccurs="0" maxOccurs="1"/>
                <xs:element name="otherOriginator" type="r:otherOriginatorType" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="r:publication" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="analytical">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="titleInfo" minOccurs="1" maxOccurs="1">
                    <xs:complexType > 
                        <xs:sequence>
                            <xs:element name="title" type="r:titleType" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="subTitle" type="r:subTitleType" minOccurs="0" maxOccurs="1"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="otherId" type="r:otherIdType" minOccurs="0" maxOccurs="1"/>
                <xs:element name="documentType" type="r:documentTypeType" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="r:primaryOriginator" minOccurs="0" maxOccurs="1"/>
                <xs:element name="otherOriginator" type="r:otherOriginatorType" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="r:sourceDocument" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="thesis">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="titleInfo" minOccurs="1" maxOccurs="1">
                    <xs:complexType > 
                        <xs:sequence>
                            <xs:element name="title" type="r:titleType" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="subTitle" type="r:subTitleType" minOccurs="0" maxOccurs="1"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="ccnb" type="r:ccnbType" minOccurs="0" maxOccurs="1"/>
                <xs:element name="otherId" type="r:otherIdType" minOccurs="0" maxOccurs="1"/>
                <xs:element name="documentType" type="r:documentTypeType" minOccurs="0" maxOccurs="1"/>
                <xs:element name="digitalBorn" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="r:primaryOriginator" minOccurs="0" maxOccurs="1"/>
                <xs:element name="otherOriginator" type="r:otherOriginatorType" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="r:publication" minOccurs="0" maxOccurs="1"/>
                <xs:element name="degreeAwardingInstitution" type="r:degreeAwardingInstitutionType" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="otherEntity">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="titleInfo" minOccurs="1" maxOccurs="1">
                    <xs:complexType > 
                        <xs:sequence>
                            <xs:element name="title" type="r:titleType" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="subTitle" type="r:subTitleType" minOccurs="0" maxOccurs="1"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="ccnb" type="r:ccnbType" minOccurs="0" maxOccurs="1"/>
                <xs:element name="isbn" type="r:isbnType" minOccurs="0" maxOccurs="1"/>
                <xs:element name="otherId" type="r:otherIdType" minOccurs="0" maxOccurs="1"/>
                <xs:element name="documentType" type="r:documentTypeType" minOccurs="0" maxOccurs="1"/>
                <xs:element name="digitalBorn" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="r:primaryOriginator" minOccurs="0" maxOccurs="1"/>
                <xs:element name="otherOriginator" type="r:otherOriginatorType" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="r:publication" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- title -->
    <xs:simpleType name="titleType">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
<!--            <xs:maxLength value="100"/>-->
        </xs:restriction>
    </xs:simpleType>
    
    <!-- subTitle -->
    <xs:simpleType name="subTitleType">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <!--<xs:maxLength value="200"/>-->
        </xs:restriction>
    </xs:simpleType>
    
    <!-- volume title -->
    <xs:simpleType name="volumeTitleType">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <!--<xs:maxLength value="50"/>-->
        </xs:restriction>
    </xs:simpleType>
    
    <!-- issue title -->
    <xs:simpleType name="issueTitleType">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <!--<xs:maxLength value="50"/>-->
        </xs:restriction>
    </xs:simpleType>
    

    <!-- other intelectual entity attributes -->    
    
    <!-- type of document -->
    <xs:simpleType name="documentTypeType">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <!--<xs:maxLength value="50"/>-->
        </xs:restriction>
    </xs:simpleType>

    <!-- other originator (illustrator, translator) -->
    <xs:simpleType name="otherOriginatorType">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <!--<xs:maxLength value="50"/>-->
        </xs:restriction>
    </xs:simpleType>

    
    <!-- degree awarding institution -->
    <xs:simpleType name="degreeAwardingInstitutionType">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <!--<xs:maxLength value="50"/>-->
        </xs:restriction>
    </xs:simpleType>
    
    <!-- originator -->
    <xs:element name="primaryOriginator">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="type" use="required" type="r:originatorTypeType"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <!-- originator type -->
    <xs:simpleType name="originatorTypeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AUTHOR"/>
            <xs:enumeration value="EVENT"/>
            <xs:enumeration value="CORPORATION"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- publication -->
    <xs:element name="publication">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="publisher" type="r:publisherType" minOccurs="0" maxOccurs="1"/>
                <xs:element name="place" type="r:placeType" minOccurs="0" maxOccurs="1"/>
                <xs:element name="year" type="xs:integer" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- publisher -->
    <xs:simpleType name="publisherType">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <!--<xs:maxLength value="50"/>-->
        </xs:restriction>
    </xs:simpleType>
    
    <!-- place -->
    <xs:simpleType name="placeType">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <!--<xs:maxLength value="50"/>-->
        </xs:restriction>
    </xs:simpleType>
    
    <!-- source document -->
    <xs:element name="sourceDocument">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="titleInfo" minOccurs="1" maxOccurs="1">
                    <xs:complexType > 
                        <xs:sequence>
                            <xs:element name="title" type="r:titleType" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="volumeTitle" type="r:volumeTitleType" minOccurs="0" maxOccurs="1"/>
                            <xs:element name="issueTitle" type="r:issueTitleType" minOccurs="0" maxOccurs="1"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="ccnb" type="r:ccnbType" minOccurs="0" maxOccurs="1"/>
                <xs:element name="isbn" type="r:isbnType" minOccurs="0" maxOccurs="1"/>
                <xs:element name="issn" type="r:issnType" minOccurs="0" maxOccurs="1"/>
                <xs:element name="otherId" type="r:otherIdType" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="r:publication" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:simpleType name="otherIdType">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <!--<xs:maxLength value="50"/>-->
        </xs:restriction>
    </xs:simpleType>
    
    <xs:element name="digitalDocument">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="archiverId" type="xs:long" minOccurs="0" maxOccurs="1"/>
                <xs:element name="urnNbn" type="r:urnNbnType" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="r:registrarScopeIdentifiers" minOccurs="0" maxOccurs="1" />
                <xs:element name="financed" type="r:financedType" minOccurs="0" maxOccurs="1"/>
                <xs:element name="contractNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="r:technicalMetadata" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- urn:nbn -->
    <xs:simpleType name="urnNbnType">
        <xs:restriction base="xs:string">
            <!-- TODO: here hardcoced "CZ" -->
            <xs:pattern value="urn:nbn:cz:[A-Za-z0-9]{2,6}\-[A-Za-z0-9]{6}"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- registrar scope identifiers -->
    <xs:element name="registrarScopeIdentifiers">
        <xs:complexType >
            <xs:sequence>
                <xs:element name="id" type="r:registrarScopeIdentifierType" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element> 
    
    <!-- registrar scope identifier and type -->
    <xs:complexType name="registrarScopeIdentifierType">
        <xs:simpleContent>
            <xs:extension base="r:registarScopeIdValueType">
                <xs:attribute name="type" use="required" type="r:registarScopeIdTypeType"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <!-- identifier value -->
    <xs:simpleType name="registarScopeIdValueType">
        <xs:restriction base="xs:string">
            <!-- $ - _ . + ! * ' ( ) , : @ -->
            <xs:pattern value="[A-Za-z0-9$\-_\.+!\*'\(\),:@]{1,60}"/>
        </xs:restriction>
    </xs:simpleType>
    <!-- identifier type -->
    <xs:simpleType name="registarScopeIdTypeType">
        <xs:restriction base="xs:token">
            <xs:pattern value="[A-Za-z0-9_\-:]{1,20}"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- financed -->
    <xs:simpleType name="financedType">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <!--<xs:maxLength value="100"/>-->
        </xs:restriction>
    </xs:simpleType>
    
    
    <!-- technical metadata -->
    <xs:element name="technicalMetadata">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="r:format" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="r:extent" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="r:resolution" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="r:compression" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="r:color" minOccurs="0" maxOccurs="1"/>
                <xs:element name="iccProfile" type="r:iccProfileType" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="r:pictureSize" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- format and format version -->
    <xs:element name="format">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="r:formatType">
                    <xs:attribute name="version" type="r:formatVersionType" use="optional"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <!-- format -->
    <xs:simpleType name="formatType">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <!--<xs:maxLength value="20"/>-->
        </xs:restriction>
    </xs:simpleType>
    <!-- format version -->
    <xs:simpleType name="formatVersionType">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <!--<xs:maxLength value="10"/>-->
        </xs:restriction>
    </xs:simpleType>
    
    <!-- extent -->
    <xs:element name="extent">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:minLength value="1"/>
                <!--<xs:maxLength value="200"/>-->
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    
    <!-- resolution -->
    <xs:element name="resolution">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="horizontal" type="xs:integer" minOccurs="1" maxOccurs="1"/>
                <xs:element name="vertical" type="xs:integer" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- compression and compression ration -->
    <xs:element name="compression">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="r:compressionType">
                    <xs:attribute name="ratio" type="xs:double" use="optional"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <!-- compression -->
    <xs:simpleType name="compressionType">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <!--<xs:maxLength value="50"/>-->
        </xs:restriction>
    </xs:simpleType>
    
    <!-- color characteristics -->
    <xs:element name="color">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="model" type="r:modelType" minOccurs="0" maxOccurs="1"/>
                <xs:element name="depth" type="xs:integer" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <!-- color model -->
    <xs:simpleType name="modelType">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <!--<xs:maxLength value="20"/>-->
        </xs:restriction>
    </xs:simpleType>
    
    
    <!-- icc profile -->
    <xs:simpleType name="iccProfileType">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <!--<xs:maxLength value="50"/>-->
        </xs:restriction>
    </xs:simpleType>
    
    <!-- picture seize -->
    <xs:element name="pictureSize">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="width" type="xs:integer" minOccurs="1" maxOccurs="1"/>
                <xs:element name="height" type="xs:integer" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
