api/src/main/resources/v4/xsd_components/importDigitalInstance_core.xsd.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2011 - 2016 Martin Řehánek

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<!--
    Author     : Martin Řehánek
    Description:
        This XML Schema (W3C) document validates APIv4 digital-instance-import operation input data.
        Document is not complete - some shared definitions are referenced here. It is defined in other xsd files.
        https://github.com/NLCR/CZIDLO
        https://github.com/NLCR/CZIDLO/wiki/API
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           elementFormDefault="qualified" 
           targetNamespace="http://resolver.nkp.cz/v4/" 
           xmlns:czidlo="http://resolver.nkp.cz/v4/"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://www.w3.org/2001/XMLSchema http://www.w3.org/2001/XMLSchema.xsd">
    <xs:include schemaLocation="common.xsd.xml"/>
    <xs:element name="digitalInstance">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="url" type="czidlo:url"/>
                <xs:element name="digitalLibraryId" type="xs:integer"/>
                <xs:element name="format" type="xs:string" minOccurs="0"/>
                <xs:element name="accessibility" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    
</xs:schema>
